.env
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/
.nautilus/
target/
*.egg-info/
dist/
build/

infra/ib-gateway/tws_settings/*
!infra/ib-gateway/tws_settings/.gitkeep

infra/redis/data/*
!infra/redis/data/.gitkeep

nautilus/data/catalog/*
nautilus/data/logs/*
nautilus/data/checkpoints/*
!nautilus/data/**/.gitkeep
